<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>First Chart</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
  <script src="./static/js/trends_chart.js"></script>
</head>
<body>
  <h1>This page will display covid trends</h1>
  <div id="trendsDiv"></div>
  <!-- D3.js CDN -->
  

  
</body>
</html>
